extends layout.pug 
block title 
 title about Page
block content
    section.text-center.mt-0.about.text-secondary
      h1(id='about us')  About US 
      .container
      .row
      .col-md-4.d-block.m-auto.about-item.wow.lightSpeedIn(data-wow-offset='200')
        span.fa.fa-group
        h2 Section 1
        p.lead
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
      .col-md-4.d-block.m-auto.about-item.wow.lightSpeedIn(data-wow-offset='200')
        span.fa.fa-info
        h2 Section 2 
        p.lead
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita iure rem quas placeat officia modi. Doloribus inventore architecto maxime accusantium obcaecati, ratione perferendis quo perspiciatis beatae, totam rem! Possimus, repudiandae.
      .clearfix.visible-md-block.visible-sm-block
      .col-md-4.d-block.m-auto.about-item.wow.lightSpeedIn(data-wow-offset='200')
        span.fa.fa-file
        h2 Section 3
        p.lead
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
