footer 
    div.footer.bg-dark.text-white
            div.row
                div.col-md-6.text-md-end
                    p Copyright &copy;2022. All right Reserved
                div.col-md-4.text-md-end
                  a(href="#" class="text-dark text-white") Term of Use 
                    span | 
                  a(href="#" class="text-dark text-white") Privacy Policy  
                  p
                    a(href="#top") Top