extends layout.pug 
block title 
 title about Page
block content
    section(class="container bg-light text-center mt-3")
            h1#portfolio Portfolio 
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates harum, error architecto maxime quis
              |  culpa est ut sint laborum odit quidem qui rem, quisquam tempore dolor. Earum nisi adipisci quaerat!
            div.row
                div.col-md-4.d-block.m-auto.p-3
                    div.card
                        img(src="static/photos/insta.jpg" class="card-img-top" alt="error")
                        div.card-body
                            h5.card-title Card title
                            p.card-text Portfolio Text
                            a(href="#" class="btn btn-primary ") Go somewhere
                div.col-md-4.d-block.m-auto.p-3
                    div.card
                        img(src="static/photos/elon.jpg" class="card-img-top" alt="error")
                        div.card-body
                            h5.card-title Card title
                            p.card-text Portfolio Text
                            a(href="#" class="btn btn-primary") Go somewhere
                div.col-md-4.d-block.m-auto.p-3
                    div.card
                        img(src="static/photos/vermya.png" class="card-img-top" alt="error")
                        div.card-body
                            h5.card-title Card title
                            p.card-text Portfolio Text
                            a(href="#" class="btn btn-primary") Go somewhere
                div.col-md-4.d-block.m-auto.p-3
                    div.card
                        img(src="static/photos/house img.jpg" class="card-img-top mt-3" alt="error")
                        div.card-body
                            h5.card-title Card title
                            p.card-text Portfolio Text
                            a(href="#" class="btn btn-primary") Go somewhere
                div.col-md-4.d-block.m-auto.p-3
                    div.card
                        img(src="static/photos/wooden.png" class="card-img-top mt-3" alt="error")
                        div.card-body
                            h5.card-title Card title
                            p.card-text Portfolio Text
                            a(href="#" class="btn btn-primary") Go somewhere
                div.col-md-4.d-block.m-auto.p-3
                    div.card
                        img(src="static/photos/dice.jpg" class="card-img-top mt-3" alt="error")
                        div.card-body
                            h5.card-title Card title
                            p.card-text Portfolio Text
                            a(href="#" class="btn btn-primary") Go somewhere